<!DOCTYPE html>
{% extends "padre.html" %}

{% load static %}

    {% block contenido2 %}
        <h3 class="masthead-heading text-uppercase mb-0">Editar perfil</h3>
    {% endblock %}

    {% block contenido %}

        <form action="" method="POST"> {% csrf_token %}
            
            <table>
                {{ formulario.as_table }}
            </table>

        <div align="middle">
            <br>
                <input type="submit" value="Editar">  
            <br>
        </div>

        </form>
        
    {% endblock %}